body {
    padding-top: 70px;
}
div#login-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.logo, .logo:hover, .logo:link {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
    color: #63bbd0;
}
footer{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: #63bbd0 !important;
}
.rowitem{
    width: 1000px;
    margin: auto;
    display: flex;

}
div.item {
    margin-bottom: 15px !important;
}
.h-100 {
    height: 100% !important;
}
div.card > a > img {
    height: 100% !important;
    width: 100% !important;
}
#productTitle{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    color: red;
    text-align: center;

}

